/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  .is-loading {
    color: transparent;
  }
  .is-loading:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
  }

  ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px !important;
    margin: 0px auto;
  }
  li.pagination-page-nav.active {
    background-color: #047b04;
    border: 2px solid #047b04;
    color: #ffffff;
  }
  li.pagination-page-nav {
    padding: 4px;
    margin: 0 4px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 11px;
  }
  li.pagination-page-nav a.page-link {
    padding: 6px;
  }